.main-container {
    height: 100%;
    width: 100%;
    .field-mobile {
        height: 60%;
        box-shadow: 0 1px 5px 0 rgba(41, 85, 115, 0.21);
        width: 60%;
        border-radius: 2%;
        margin: 20%;
    }
}