<div class="page-container d-flex flex-column">
    <div class="page-header d-flex flex-row justify-content-around align-items-center">
        <div class="create-field-left">
            <ultron-label [content]="content?.page.title" cls="lg-title"></ultron-label>
            <ultron-label [content]="content?.page.subTitle" cls="desc-mid"></ultron-label>
        </div>
        <div class="create-field-right p-3">
            <img class="sml-icon" src="./../../assets/images/add_page.png">
            <a class="badge" routerLink="/factory">{{content?.page.btnTitle}}</a>
        </div>
    </div>
    <div class="m-3 d-flex flex-row-reverse">
        <img class="mid-icon" src="/assets/images/removeall.png" (click)="removeAllPage()">
        <img class="mid-icon" src="/assets/images/export.png" (click)="exportMetadata()">
    </div>
    <div class="page-body p-4 d-flex flex-row overflow-x-scroll">
        <ng-container *ngFor="let page of readyPages">
            <div class="ready-widget mx-5">
                <div class="d-flex flex-column button-mask justify-content-center">
                    <div class="page-id">
                        <ultron-label [content]="page.id" cls="text-center my-2"></ultron-label>
                    </div>
                    <div class="d-flex flex-row mt-5">
                        <div class="hide-btn edit-btn mr-3" (click)="reEdit(page)">
                            {{content?.page.edit}}
                        </div>
                        <div class="hide-btn live-btn ml-3" (click)="goLive(page)">
                            {{content?.page.live}}
                        </div>
                    </div>
                </div>
                <div class="page-scrollable">
                    <div *ngFor="let item of page.widgets" class="px-4">
                        <ultron-dynamic-widgets-engine [item]="item"></ultron-dynamic-widgets-engine>
                    </div>
                </div>

            </div>
        </ng-container>
        <div *ngIf="showEmpty" class="empty-field">
            {{content?.page.emptyMsg}}
        </div>
    </div>
    <div *ngIf="content && modalContent" class="modal fade" id="removeAllPageModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <ultron-modal [modalContent]="modalContent" (modalEvent)="modalConfirm($event)"></ultron-modal>=
    </div>
</div>