.menu-border-bottom {
  border-bottom: 1px solid #7a92a5;
}

.lg-title {
  font-size: 3.6rem;
  font-weight: 700;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.value {
  font-size: 1.6rem;
  font-weight: 700;
}

.value-sm {
  font-size: 1.4rem;
  font-weight: 700;
}

.desc-mid {
  font-size: 1.8rem;
}

.border-radius-10 {
  border-radius: 10px;
}

.sml-icon {
  height: 24px;
  width: 24px;
}

.mid-icon {
  height: 32px;
  width: 32px;
}

.large-icon {
  width: 64px;
  height: 64px;
}

.hidden-overflow {
  overflow-y: hidden;
}