<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-4 border-radius-10">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalCenterTitle"><b>{{modalContent?.title}}</b>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body px-4 d-flex flex-column" *ngIf="modalContent?.isForm">
            <div *ngIf="modalContent?.isBtnGroup" class="btn-group" role="group" (click)="chooseEventType($event)">
                <button type="button" class="btn btn-light btn-group"
                    [ngClass]="{'choosed': eventType === 'Bottomsheet'}">Bottomsheet</button>
                <button type="button" class="btn btn-light btn-group"
                    [ngClass]="{'choosed': !(eventType === 'Bottomsheet')}">Dialog</button>
            </div>
            <form *ngFor="let input of modalContent?.inputGroup">
                <div class="form-group input-group-lg">
                    <h3 for="target-page" class="col-form-label">{{input.key}}</h3>
                    <input type="text" class="form-control" aria-describedby="inputGroup-sizing-lg" id="target-page"
                        [(ngModel)]="input.inputVal" [ngModelOptions]="{standalone: true}">
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg"
                (click)="confirm(modalContent?.type, modalContent.inputGroup)"><b>{{modalContent.confirm}}</b></button>
        </div>
    </div>
</div>