<div *ngIf="profile" class="profile d-flex flex-row align-items-center">
   <img class="avatar" src="./../../assets/images/avatar.png">
   <angel-label *ngIf="name" [content]="name" cls="text-white font-italic font-weight-bold pl-3"></angel-label>
</div>
<div *ngIf="!(profile || footer)" class="widget-container text-success p-4 mt-4 d-flex flex-row align-items-center">
   <div *ngIf="cardImg" class="credit-cards mr-4 flex-thin"></div>
   <div class="d-flex flex-row justify-content-between align-items-center flex-fat">
      <div>
         <angel-label *ngIf="title" [content]="title" [cls]="titleCls"></angel-label>
         <angel-label *ngIf="value" [content]="value" [cls]="valueCls"></angel-label>
         <angel-progress-bar *ngIf="progressbar" [cls]="progressCls"></angel-progress-bar>
      </div>
      <div *ngIf="showArrow" class="arrow">></div>
      <div *ngIf="showRightBtn" class="arrow">></div>
   </div>
</div>
<div *ngIf="footer" class="mobile-footer d-flex flex-row justify-content-between align-items-center">
   <ng-container *ngFor="let footericon of icons">
      <img class="mid-icon" [src]="footericon">
   </ng-container>
</div>