.credit-cards {
    width: 64px;
    height: 40px;
    background-size: 572px auto;
    background-position: -138px -268px;
    background-image: url(../../assets/images/Cardmini_sprite3x.png);
}

.widget-container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
    border: 1px solid #eee;

    .arrow {
        font-size: 1.6rem;
        font-weight: 700;
        text-align: right;
    }

    .flex-thin {
        flex: 0 0 auto;
    }

    .flex-fat {
        flex: 1 1 auto;
    }
}

.profile {
    .avatar {
        width: 32px;
        height: 32px;
    }

    padding: 0 15px;
    margin: 0 -15px;
    height: 100px;
    background-image: linear-gradient(135deg, #000000, #281814) !important;
}