<div *ngIf="showSpinner" class="page-loading">
    <angel-spinner class="full-center"></angel-spinner>
</div>
<div class="row">
    <div *ngIf="!showmenu" class="col-lg-4 col-md-5 col-sm-12">
        <div class="bd-sidebar p-4">
            <div class="py-3" cdkDropList #readyList="cdkDropList" [cdkDropListData]="widgetsList"
                [cdkDropListConnectedTo]="[editList]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let widget of widgetsList" cdkDrag>
                    <angel-dynamic-widgets-engine [item]="widget"></angel-dynamic-widgets-engine>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <img class="large-icon" src="./../assets/images/expandmenu.png" (click)="showmenu = !showmenu">
     </div> -->

    <div class="col-lg-8 col-md-7 col-sm-12">
        <div class="container-mobile">
            <div class="mobile-header d-flex flex-row justify-content-between align-items-center px-4 py-2">
                <h2 class="font-weight-bold text-center">Our Device</h2>
                <div class="text-right d-inline">
                    <img class="mid-icon" src="./../assets/images/sign.png">
                    <img class="mid-icon ml-2" src="./../../assets/images/removeall.png" (click)="removeWidgets()">
                    <img class="mid-icon ml-2" src="./../assets/images/export.png" (click)="engineEvents('saveMetadata')">
                </div>
            </div>
            <div class="mobile-body">
                <div class="px-4 pb-4 dropList" cdkDropList #editList="cdkDropList" [cdkDropListData]="editingWidgets"
                    [cdkDropListConnectedTo]="[readyList]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of editingWidgets" cdkDrag>
                        <angel-dynamic-widgets-engine [item]="item" (engineEvents)="engineEvents($event, item)">
                        </angel-dynamic-widgets-engine>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="content && modalContent" class="modal fade" id="editEvent" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <angel-modal [modalContent]="modalContent" (modalEvent)="modalConfirm($event)"></angel-modal>=
        </div>
    </div>
</div>