.live-container {
    padding: 5rem;
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: #f0f4f7;

    .device-container {
        position: relative;
        width: 375px;
        height: 600px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);

        .device-header {
            height: 60px;
        }
    }

    .dialog-container  {
        position: relative;
        width: 600px;
        min-height: 600px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
        ::ng-deep .bottom-btn {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
        }
        .has-bottom-btn {
            padding-bottom: 5rem;
        }
    }
}

:host ::ng-deep .dialog-container .mobile-footer {
    border-top: 3px solid #eee;
    left: 0;
    margin: 0 !important;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 1rem;
}

:host ::ng-deep .device-container .mobile-footer {
    border-top: 3px solid #eee;
    left: 0;
    margin: 0 !important;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 1rem;
}

