<div *ngIf="showSpinner" class="page-loading">
  <angel-spinner class="full-center"></angel-spinner>
</div>
<div class="live-container">
  <div class="device-container d-flex flex-column">
    <div
      class="device-header d-flex flex-row justify-content-between align-items-center"
    >
      <div>
        <img class="sml-icon ml-2" src="./../../assets/images/localtion.png" />
        <img class="sml-icon" src="./../../assets/images/message.png" />
      </div>
      <div>
        <img class="sml-icon mr-2" src="./../../assets/images/wifi.png" />
        <img class="sml-icon mr-2" src="./../../assets/images/time.png" />
        <img class="sml-icon mr-2" src="./../../assets/images/ring.png" />
      </div>
    </div>
    <div class="page-scrollable" [ngStyle]="{ 'z-index': zindexInit }">
      <div *ngFor="let item of editingWidgets" class="px-4">
        <angel-dynamic-widgets-engine [item]="item" (engineEvents)="flow($event)"></angel-dynamic-widgets-engine>
      </div>
    </div>
  </div>
</div>
